@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
* {
    font-family: 'Nunito';
    -webkit-font-smoothing: antialiased;
}

body {
    background-color: rgb(15, 15, 20);
    position: relative;
    text-align: center;
    font-family: 'Nunito';
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
    scroll-behavior: smooth;
    color: white;
}
