.panel {
    display: flex;
    flex-direction: column;
    width: 95%;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.selector {
    background-color: var(--background-accent);
    border: 1px solid var(--border-accent);
    color: var(--border-accent);
    width: 5%;
    border-radius: 12px;
    position: relative;
    display: inline-block;
    justify-self: flex-start;
}

.dropdown:hover .options {
    display: block;
}

.options {
    text-align: left;
    list-style: none;
    display: none;
    position: absolute;
    width: max-content;
    z-index: 220;
    background-color: var(--background-secondary);
    border: 1px solid var(--border-secondary);
    border-radius: 12px;
    padding: 0;
    margin-left: 0;
}

.option {
    padding: 0;
    margin-left: 0;
    color: var(--text-primary);
    display: flex;
    height: 5vh;
}
